
body{
  margin: 0;
  padding: 0;
  font-family: 'Raleway', sans-serif;
  color: #454545;
}

a {
  text-decoration: none;
  color: #454545;
}

.container {
  width: 700px;
  margin: 0 auto;
  height: 100%;
  display: block;
  border: 1px solid #ddd;
}
header{
  width: 100%;
  border-bottom: 3px solid #06caa9;
  top: 0;
  height: 50px;
  position: fixed;
  padding: 10px 0 0 0;
}

/******* Navigation ********/

.active {
  background-color: #06caa9;
  padding: 13px 20px;
  border-radius: 10px 10px 0 0;
  transform: perspective(4px) rotateX(1deg);
  color: #fff;
}
.nav{
  margin: 0 auto;
  width: 650px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  flex-wrap: nowrap; 
  font-weight: 600;
}

.nav ul {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  text-decoration: none;
}

.nav li:first-child {
  padding-left: 0;
}

.nav ul {
  padding-left: 0;
}
.nav li {
  list-style-type: none; 
  text-decoration: none;
  text-align: center;
}
.nav li{
  padding: 0 10px;
  min-width: 70px;
}

.avatar {
  height: 50px;
  border-radius: 25px;
  margin: 10px;
}

/******* New Question ********/