*, *:before, *:after {
  box-sizing: border-box;
}

body{
  margin: 0;
  padding: 0;
  font-family: 'Raleway', sans-serif;
  color: #454545;
}

a {
  text-decoration: none;
  color: #454545;
}
ul{
  text-indent: 0;
  margin: 0;
  padding: 0;
}
ul li{
  list-style-type: none;
  text-indent: 0;
}

header{
  width: 100%;
  border-bottom: 3px solid #11b5af;
  top: 0px;
  height: 60px;
  position: fixed;
  background-color: #fff;
  margin: 0;
  padding: 0;
}

main{
  top: 50px;
  width: 100%;
  margin: 63px 0 0 0;
  padding: 15px;
}
h1, h2, h3, h4{
  margin: 0;
  padding: 0;
}
button{
  border: 1px solid #11b5af;
  padding: 10px;
  border-radius: 4px;
}
form{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;  
}
.container{
  border: 1px solid #ddd;
  width: 530px;
  margin: 0 auto;
  padding: 0;
  border-radius: 4px;
}
.header{
  border-bottom: 1px solid #ddd;
  background-color: #f5f5f5;
  padding: 12px 25px;
  margin: 0;
}
.content{
  padding: 15px 15px 15px 0;
  display: flex;
  justify-content: space-between;
  font-size: 1em;
}
.avatar{
  margin: auto;
}

/******* Navigation ********/

.nav .active {
  background-color: #11b5af;
  border-radius: 10px 10px 0 0;
  transform: perspective(4px) rotateX(1deg);
  color: #fff;
}
.nav{
  margin: 0 auto;
  width: 750px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  flex-wrap: nowrap; 
  font-weight: 600;
  height: 100%;
  padding: 0;
}

.nav ul {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  text-decoration: none;
}

.nav li:first-child {
  padding-left: 0;
}

.nav ul {
  padding: 0;
}
.nav li{
  padding: 0;
  min-width: 100px;
  text-align: center;
  text-decoration: none;
}
.nav li a{
  height: 100%;
  padding: 10px 20px 10px 20px;
  line-height: 5em;
}
.nav img{
  height: 30px;
  width: 30px;
  margin: 0 0 -5px 20px;
}

/******* Dashboard ********/
.dashboard.container{
  padding: 0;
}
.dashboard .content{
  width: 100%;
  padding: 15px;
}
.dashboard .content ul{
  width: 100%;
}

.dashboard .tabs{
  width: 100%;
}

.dashboard .tab{
  width: 50%;
  border: 0;
  border-bottom: 1px solid #ddd;
  font-weight: 700;
  font-size: 1em;
  border-radius: 0;
  color: #777;
  background-color: #f5f5f5;
}
.dashboard .tab:first-child{
  border-right: 1px solid #ddd;
}
.dashboard .tab.active{
  color: #11b5af;
  border-bottom: 0;
  background-color: #fff;
}
/******* Question ********/
.question{
  margin: 0 0 15px 0;
  border: 1px solid #ddd;
  padding: 0;
  border-radius: 4px;
}
.question .content{
  font-size: 0.9em;
  min-height: 120px;
}
.question .avatar{
  min-height: 80px;
  min-width: 80px;
}
.question .text{
  padding: 0 0 0 15px;
  border-left: 1px solid #ddd;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 55%;
}
.question button{
  border: 1px solid #11b5af;
  color: #11b5af;
  padding: 10px;
  border-radius: 4px;
}
.question button:hover{
  background-color: #11b5af;
  color: #fff;
}
/******* Question Details ********/
.question-details .content{
  font-size: 1em;
  min-height: 180px;
}
.question-details .avatar{
  min-height: 80px;
  min-width: 80px; 
}
.question-details .text{
  padding: 0 0 0 15px;
  border-left: 1px solid #ddd;
  width: 65%;
  font-weight: 500;
}
.question-details .text button{
  background-color: #11b5af;
  color: #fff;
  font-size: 1em;
  font-weight: 600;
}
/******* Question Results ********/
.question-results .content{
  min-height: 350px;
}
.question-results .text{
  padding: 0 0 0 15px;
  border-left: 1px solid #ddd;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 65%;
  font-weight: 500;
}
.result{
  border: 1px solid #ddd;
  border-radius: 4px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 15px 20px;
  min-height: 40%;
  font-weight: 700;
  text-align: center;
  background-color: #fafafa;
}
.result > p{
  text-align: left;
  margin: 0 0 15px 0;
}
.result.chosen{
  border: 1px solid #11b5af;
  background-color: #11b5af26;
  color: #0a9079;
}
.meter { 
  height: 25px;
  position: relative;
  background: #ddd;
  -moz-border-radius: 4px;
  -webkit-border-radius: 4px;
  border-radius: 4px;
  padding: 0;
  margin: 0 0 5px 0;
}
.meter > span {
  display: block;
  height: 100%;
  border-radius: 4px;
  background-color: #11b5af;
  position: relative;
  overflow: hidden;
  color: #fff;
  line-height: 1.5em;
  width: 100%;
}
/******* New Question ********/
.new-question .content{
  padding: 15px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  font-weight: 500;
}
.new-question .header{
  text-align: center;
}
.new-question input{
  margin: 20px 0 0 0;
  padding: 10px;
  border: 1px solid #ddd;
  border-radius: 4px;
  font-size: 1em;
}
.new-question span{
  font-weight: bold;
  width: 100%;
  text-align: center;
}
.new-question input::placeholder{
  color: #ccc;
  font-style: italic;
}
.new-question button{
  background-color: #11b5af;
  color: #fff;
  font-size: 1em;
  font-weight: 600;
  margin: 10px 0 0 0;
}
.question-length{
  height: 15px;
  font-size: 14px;
  width: 100%;
  text-align: right;
  margin: 0 0 5px 0;
}
/******* LeaderBoard ********/
.leaderboard.container{
  padding: 15px;
}
.user{
  margin: 0 0 15px 0;
  border: 1px solid #ddd;
  padding: 0;
  border-radius: 4px;
}

.user .text{
  padding: 0 15px 0 15px;
  border-left: 1px solid #ddd;
  border-right: 1px solid #ddd;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 50%;
  font-weight: 500;
  margin: 0;
}
.user .text > div{
  margin: 10px 0 0 0;
  padding: 0;
}
.user .text > div > p{
  margin: 10px 0;
  padding: 0;
  display: flex;
  justify-content: space-between;
}
/*.user .text > div > p{*/
.user .avatar{
  min-height: 80px;
  min-width: 80px;
}
.user .score{
  width: 20%;
  margin: 0 0 0 15px;
}
.user .score > div{
  padding: 15px;
}
.user .score .data{
  background-color: #11b5af;
  margin: auto;
  width: 45px;
  height: 45px;
  padding: 10px;
  border-radius: 22.5px;
  color: #fff;
  font-weight: bold;
  font-size: 1.3em;
  line-height: 1.1em;
  text-align: center;
}
/******* Login ********/

.login .content{
  padding: 15px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  font-weight: 500;
}
.login h1{
  font-size: 1em;
  font-weight: 800;
}
.login .header{
  text-align: center;
}
.login img{
  height: 120px;
  width: 120px;
  margin: auto;
}
.login select{
  margin: 15px 0;
  padding: 20px;
  border: 1px solid #ddd;
  border-radius: 4px;
  font-size: 1em;
  position: relative;
  background-color: #fff;
  -webkit-appearance: none; 
  -moz-appearance: none;
  appearance: none;       /* remove default arrow */
  font-weight: 600;
}
.login button{
  background-color: #11b5af;
  color: #fff;
  font-size: 1em;
  font-weight: 600;
}
.login h2{
  text-align: center;
  color: #11b5af;
  margin: 20px 0 0 0;
}

