*, *:before, *:after {
  box-sizing: border-box;
}

body{
  margin: 0;
  padding: 0;
  font-family: 'Raleway', sans-serif;
  color: #454545;
}

a {
  text-decoration: none;
  color: #454545;
}
ul{
  text-indent: 0;
  margin: 0;
  padding: 0;
}
ul li{
  list-style-type: none;
  text-indent: 0;
}

header{
  width: 100%;
  border-bottom: 3px solid #06caa9;
  top: 0px;
  height: 30px;
  position: fixed;
  background-color: #fff;
  margin: 25px 0 0 0;
  padding: 0;
}

main{
  top: 50px;
  width: 100%;
  margin: 63px 0 0 0;
  padding: 15px;
}
/******* Navigation ********/

.active {
  background-color: #06caa9;
  padding: 13px 20px;
  border-radius: 10px 10px 0 0;
  transform: perspective(4px) rotateX(1deg);
  color: #fff;
}
.nav{
  margin: 0 auto;
  width: 750px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  flex-wrap: nowrap; 
  font-weight: 600;
  height: 100%;
  padding: 0;
}

.nav ul {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  text-decoration: none;
}

.nav li:first-child {
  padding-left: 0;
}

.nav ul {
  padding: 0;
}
.nav li{
  padding: 0;
  min-width: 100px;
  text-align: center;
  text-decoration: none;
}
.nav li a{
  height: 100%;
  padding: 10px 20px 10px 20px;
}
.avatar {
  height: 50px;
  border-radius: 25px;
  margin: 10px;
}
/******* Dashboard ********/
.dashboard-container{
  border: 1px solid #ddd;
  width: 470px;
  margin: 0 auto;
  padding: 15px;
  border-radius: 4px;
}

/******* Question ********/
.question-container{
  border: 1px solid #ddd;
  margin: 0 0 15px 0;
  border-radius: 4px;
}
.question-header{
  border-bottom: 1px solid #ddd;
  background-color: #f5f5f5;
  padding: 12px 25px;
  margin: 0;
}
.question{
  padding: 15px 15px 15px 0;
  display: flex;
  justify-content: space-between;
  font-size: 0.9em;
}
.question .avatar{
  min-height: 80px;
  min-width: 80px;
  margin: auto;
}
.question-content{
  padding: 0 0 0 15px;
  border-left: 1px solid #ddd;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 55%;
}
.question-content h4{
  margin: 0;
}
.question-content button{
  border: 1px solid #06caa9;
  color: #06caa9;
  padding: 10px;
  border-radius: 4px;
}
